.navbar {
  background-color: #f0f7f4; /* Color de fondo */
  color: #071108; /* Color del texto */
  padding: 10px;
  display: flex;
  justify-content: center;
}
.navbar a {
  color: #071108; /* Color del texto de los enlaces */
  text-decoration: none; /* Sin subrayado */
  margin-right: 15px; /* Espacio entre enlaces */
}
.navbar a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}
